.cart_page {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}
.user_profile {
  width: 70px;
  height: 70px;
  background-color: rgb(216, 215, 215);
  border-radius: 50%;
  margin-right: 20px;
}
.cart_bill {
  border-collapse: collapse;
  width: 400px;
  align-self: flex-end;
  margin-top: 30px;
}
.cart_bill td {
  padding: 12px 20px;
  border: 3px solid #e5e5e5;
}
.cart_bill_final {
  font-weight: 600;
}
.checkout_button {
  height: 35px;
  width: 130px;
  font-weight: 600;
  /* display: flex; */
  align-self: flex-end;
}
.checkout_button:hover {
  cursor: pointer;
}
.user_name {
  font-weight: 700;
}
.table_quantity_input {
  height: 50px;
  justify-content: center;
}
.table_remove_icon {
  height: 35px;
  width: 35px;
}
.table_remove_icon:hover {
  cursor: pointer;
}
.user_info {
  margin: 10px auto;
}
