.hero_image {
  width: 400px;
  background-color: transparent;
  padding: 20px;

  transition: all 0.3s ease-in-out;
}
.hero_image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hero {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}
.hero > div {
  padding-left: 20px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero_link {
  border-radius: 15px;
  padding: 8px 15px;
  margin: 10px;
  letter-spacing: 1.5px;
  font-weight: 700;
  border: 2px solid #fff;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}
.hero_link:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000;
}
.hero_title {
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 40px;
}
.hero_subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}
