.products_sidebar {
  padding-right: 5px;
  margin: 10px;
  height: 100vh;
  background-color: #fff;

  /* background-color: #fff; */
}
.products_sidebar h2 {
  background-color: #fff;

  /* background-color: #fff; */
}
.products_sidebar h2 {
  padding-bottom: 20px;
}
.category_list {
  height: 100vh;
  background-color: #fff;
}
