.products_list_section {
  padding: 10px;
  padding-left: 30px;
}
.product_list_header {
  margin-bottom: 20px;
  justify-content: space-between;
}
.product_sorting {
  width: auto;
  padding: 5px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  border-radius: 2px;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.error_message {
  color: red;
}
