.quantity_input_button {
  width: 35px;
  height: 35px;
  background-color: #ff8848;
  color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.quantity_input_button:disabled {
  opacity: 0.3;
  cursor: default;
}
.quantity_input_count {
  margin: 0 40px;
  text-align: center;
}
