.single_product {
  justify-content: center;
}
.single_product_thumbnail {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
  gap: 14px;
  padding: 6px;
}
.single_product_thumbnail img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}
.single_product_thumbnail img:hover {
  transform: scale(1.1);
}
.single_product_display {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}
.single_product_display img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}
.selected_image {
  transform: scale(1.2);
}
.single_product_details {
  width: 35%;
  padding: 16px 24px;
}
.single_product_title {
  margin-bottom: 20px;
  font-weight: bold;
}
.single_product_description {
  font-weight: 400;
  margin-bottom: 20px;
}
.single_product_price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.quantity_title {
  margin-bottom: 20px;
}
.quantity_input {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 16px;
}

.add_cart {
  font-size: 20px;
  font-weight: 700;

  padding: 8px 10px;
}
.add_cart:hover {
  cursor: pointer;
}
