.form_page {
  justify-content: center;
}
.authentication_form {
  width: 30%;
  padding: 32px 48px;
  margin-top: 32px;
  background-color: #fff;
}
.input_fields {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}
.authentication_form h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
}
.form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 10px;
  padding: 0 10px;
}
.form_input label {
  font-size: 18px;
  font-weight: 600;
  /* margin-bottom: 3px; */
}
.form_text_input {
  font-size: 17px;
  height: 30px;
  padding: 20px 10px;
  font-weight: 600;
  outline: none;
}
.form_submit {
  font-weight: 600;
  height: 40px;
  /* padding: 0 20px; */
  width: 100%;
  margin: 25px 0 10px;
}
.form_submit:hover {
  cursor: pointer;
  font-weight: 800;
}
.form_error {
  color: red;
  /* font-size: 15px; */
}
