.signup_form {
  background-color: #f0f0f0;
  padding: 22px 48px;
  justify-content: center;
}
.signup_form_page {
  width: 70%;
  padding: 22px 48px;
  /* margin: 20px auto; */
}
.signup_form_page h2 {
  font-size: 34px;
  text-align: center;
  /* margin-bottom: 30px; */
}
.image_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;

  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  width: fit-content;
  margin: 0 auto;
}

.image_input_section {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #4f46e5; /* Indigo-600 */
  margin-bottom: 12px;
}

.image_input_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_upload label {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #3730a3;
  transition: color 0.3s ease;
}
.text_input_fields {
  padding: 5px;
  border: 2px solid rgb(147, 147, 147);
}
.image_upload label:hover {
  font-weight: 800;
  color: #3730a3;
  background-color: #c4bdbd;
}

.image_upload input[type="file"] {
  display: none;
}
.fill_details {
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
}
.signup_input_fields {
  width: 48%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.signup_input_fields label {
  font-weight: 600;
}
.input_fields_address {
  display: flex;
  /* width: 90%; */
  flex-direction: column;
}
.input_fields_address label {
  font-weight: 600;
}
.text_input_fields_address {
  height: 100px;
  border: 2px solid rgb(147, 147, 147);
  padding: 5px;
}
